.footer {
  display: flex;
  flex-direction: column;
  & > * {
    width: 100%;
  }
  &__up {
    border-bottom: 2px solid #66666630;
    justify-content: space-between;
    display: flex;
    padding: 6rem 0;
    @include respond(tab-port) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__logo {
      img {
        filter: invert(47%) sepia(100%) saturate(2800%) hue-rotate(220deg)
          brightness(40%) contrast(75%);
      }
    }
    &__contact {
      display: flex;
      align-items: center;
      color: #42446e;
      @include respond(tab-port) {
        flex-direction: column;
        justify-content: center;
      }
      ul {
        display: flex;
        margin-right: 2rem;
        li {
          font-size: 1.8rem;
          margin: 0 4rem;
        }
        @include respond(tab-port) {
          flex-direction: column;
          justify-content: center;
          padding: 0;
          margin: 2rem 0;
          li {
            padding: 1rem;
            text-align: center;
          }
        }
      }
    }
  }
  &__down {
    margin: 6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 400;
    @include respond(tab-port) {
      flex-direction: column;
      justify-content: center;
    }
    &__nav {
      display: flex;
      align-items: center;
      color: #42446e;
      ul {
        display: flex;
        padding: 0;
        li {
          &:not(:first-child) {
            padding: 1rem 3rem;
          }
          &:first-child {
            padding: 1rem 3rem 1rem 0;
          }
        }
        @include respond(tab-port) {
          flex-direction: column;
          justify-content: center;
          margin-bottom: 2rem;
          li {
            text-align: center;

            &:not(:first-child) {
              padding: 1rem 2rem;
            }
            &:first-child {
              padding: 1rem 2rem;
            }
          }
        }
      }
    }
    &__text {
      color: #42446e;
      @include respond(tab-port) {
        text-align: center;
      }
    }
  }
}
